/* =============================================== */
/* owl carousel 
wcfpc custom style
/* =============================================== */

.wcfpc-theme-default { }
.wcfpc-theme-default .item { position: relative; margin: 0 1px 0 1px; background-color: #ECF0F1; overflow: hidden; }
.wcfpc-theme-default .item img{ display: block; width: 100%; height: auto; }
.wcfpc-title,
.wcfpc-price,
.wcfpc-price-sale { }
.wcfpc-image { margin-bottom: 20px; }
.wcfpc-image .wcfpc-wrap-image { padding: 0px 0px 0px 0px; position: relative; height: 100%; } 
.wcfpc-image .wcfpc-wrap-image img {  }
.wcfpc-details {  }
.wcfpc-title { font-size: 16px; width: 100%; margin: 0 0 10px 0; padding: 0 0px 0 0px; text-align: center; color: #777777; }
.wcfpc-price { width: 100%; margin-bottom: 20px; font-size: 22px; text-align: center; color: #27AE60; }
.wcfpc-price-sale { font-size: 19px; text-decoration: line-through; color: #C0392B; }
.wcfpc-permalink {  }
a.wcfpc-permalink { position: absolute; top: 0px; left: 0px; display: block; height: 100%; width: 100%; text-indent: -9999px; }
.wcfpc-onsale {
font-family: Arial;
background: none repeat scroll 0 0 #E76453;
color: #FFFFFF;
display: block;
filter: none;
font-size: 12px;
font-weight: normal;
padding: 22px 36px 3px 25px;
position: absolute;
right: -40px;
text-align: center;
text-transform: capitalize;
top: -10px;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);  
}
.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

